In [1]:
import psycopg2
%matplotlib inline
import matplotlib.pyplot as plt
from configparser import ConfigParser
import numpy as np

In [2]:
def config(filename='database.ini', section='postgresql'):
    # create a parser
    parser = ConfigParser()
    # read config file
    parser.read(filename)

    # get section, default to postgresql
    db = {}
    if parser.has_section(section):
        params = parser.items(section)
        for param in params:
            db[param[0]] = param[1]
    else:
        raise Exception('Section {0} not found in the {1} file'.format(section, filename))

    return db

In [3]:
# read connection parameters
params = config()

# connect to the PostgreSQL server
print('Connecting to the PostgreSQL database...')
conn = psycopg2.connect(**params)

# create a cursor
cur = conn.cursor()
print('Connected to the PostgreSQL database...')

Connecting to the PostgreSQL database...
Connected to the PostgreSQL database...

In [4]:
import pandas as pd

def fetch_table(table_name, cur):
    q_tuples = '''SELECT * FROM %s'''

    q_columnName = '''SELECT column_name FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = %s'''

    cur.execute(q_tuples % table_name)

    table_tuples = cur.fetchall()

    cur.execute(q_columnName, (table_name,))

    table_colums = cur.fetchall()

    table_colums = [i[0] for i in table_colums]

    return pd.DataFrame(table_tuples, columns=table_colums)

In [ ]:
stories = fetch_table('stories', cur)

In [ ]:
story_dynamics = fetch_table('story_dynamics', cur)

In [ ]:
stories.drop_duplicates(inplace=True)
stories.reset_index(drop=True, inplace=True)
story_dynamics.drop_duplicates(inplace=True)
story_dynamics.reset_index(drop=True, inplace=True)

In [28]:
instory = fetch_table('instories', cur)

In [32]:
instory.groupby('story_id').count()

           media_name  published  headline  request_time  author  page_url
story_id
176389298          78         78        78            78       0        78
178455966           9          9         9             9       0         9
178592055           4          4         4             4       0         4
178674377          13         13        13            13       0        13
178697048          19         19        19            19       0        19
178718545          18         18        18            18       0        18
178725234          10         10        10            10       0        10
178745320          27         27        27            27       0        27
178752798          15         15        15            15       0        15
178762938          10         10        10            10       0        10
178765799           8          8         8             8       0         8
178829146           1          1         1             1       0         1
178839852           2          2         2             2       0         2
178841407           8          8         8             8       0         8
178842575           4          4         4             4       0         4
178843345          15         15        15            15       0        15
178846587           3          3         3             3       0         3
178847336          24         24        24            24       0        24
178849511          16         16        16            16       0        16
178851115           1          1         1             1       0         1
178853733          14         14        14            14       0        14
178853796           3          3         3             3       0         3
178853917           7          7         7             7       0         7
178854229           7          7         7             7       0         7
178854487          31         31        31            31       0        31
178854711           9          9         9             9       0         9
178855803          22         22        22            22       0        22
178856134          19         19        19            19       0        19
178856844          27         27        27            27       0        27
178857001           6          6         6             6       0         6
178858034          30         30        30            30       0        30
178862513          13         13        13            13       0        13
178863285          30         30        30            30       0        30
178870737          54         54        54            54       0        54
178871063          18         18        18            18       0        18
178875918           6          6         6             6       0         6
178883205           2          2         2             2       0         2
178886639           8          8         8             8       0         8
178888923          19         19        19            19       0        19
178893624          26         26        26            26       0        26
178897301          13         13        13            13       0        13
178962310           6          6         6             6       0         6
178973805           2          2         2             2       0         2

In [35]:
instory[instory.story_id == 176389298].nunique()

story_id         1
media_name      31
published       72
headline        77
request_time     3
author           0
page_url        78
dtype: int64

In [37]:
instory.dtypes

story_id                 int64
media_name              object
published       datetime64[ns]
headline                object
request_time    datetime64[ns]
author                  object
page_url                object
dtype: object

In [36]:
instory[instory.story_id == 176389298]

,story_id,media_name,published,headline,request_time,author,page_url
25,176389298,Kazanfirst.ru,2022-02-05 13:42:00,За сутки в Татарстане госпитализировано 94 чел...,2022-02-07 09:18:10.275046,None,https://kazanfirst.ru/news/571838
36,176389298,Трудовая слава (Хезмәт даны),2022-02-06 19:51:00,В Кукморском районе за сутки выявили пять новы...,2022-02-07 09:18:10.275046,None,http://kukmor-rt.ru/news/poslednie-novosti/v-k...
44,176389298,Нурлат-информ,2022-02-07 08:13:00,В Татарстане в минувшие сутки зафиксирован нов...,2022-02-07 09:18:10.275046,None,http://nurlat-tat.ru/news/novosti/v-tatarstane...
47,176389298,Тетюшские зори,2022-02-07 05:35:00,Накануне в Тетюшском районе РТ выявили 17 случ...,2022-02-07 09:18:10.275046,None,http://tetyushy.ru/news/tema-dnya/nakanune-v-t...
48,176389298,Менделеевские новости,2022-02-06 15:41:00,В Менделеевске выявлено три новых случая COVId-19,2022-02-07 09:18:10.275046,None,http://mendeleevskyi.ru/news/%D0%B7%D0%B4%D1%8...
...,...,...,...,...,...,...,...
517,176389298,РБК Татарстан,2022-02-07 12:23:00,В Татарстане зарегистрировано 1305 новых случа...,2022-02-07 20:04:08.389194,None,https://rt.rbc.ru/tatarstan/freenews/6200e1a29...
518,176389298,Казань24,2022-02-07 13:02:00,За сутки коронавирусом в Татарстане заболели 1...,2022-02-07 20:04:08.389194,None,https://kazan24.ru/news/society/za-sutki-koron...
523,176389298,Вести Татарстан,2022-02-07 12:59:00,В Татарстане за сутки коронавирусом заболели е...,2022-02-07 20:04:08.389194,None,https://trt-tv.ru/news/v-tatarstane-za-sutki-k...
525,176389298,Сельская новь (Aксубаевский район),2022-02-07 12:53:00,За минувшие сутки в Аксубаевском районе зареги...,2022-02-07 20:04:08.389194,None,http://aksubayevo.ru/news/news/za-minuvshie-su...
528,176389298,Новая жизнь (Яна тормыш),2022-02-07 12:45:00,В Спасском районе ковидом заболели ещё 17 человек,2022-02-07 20:04:08.389194,None,http://spas-rt.ru/news/zdravoohranenie/v-spass...

In [ ]:
story_dynamics

In [ ]:
story_dynamics.nunique()

In [ ]:
#map every story_id to an RGB color, up to 999 values

def num2RGB(num_list):
    u = np.unique(num_list)
    assert len(u) <= 999, "Too many inputs compared to number of colors"

    result = dict()
    for num in u:
        i = (num * 255 / 3)   
        r = (np.sin(0.024 * i + 0)+1)/2
        g = (np.sin(0.024 * i + 2)+1)/2
        b = (np.sin(0.024 * i + 4)+1)/2
        result[num] = (r,g,b)
    
    return result

In [ ]:
st_id2RGB = num2RGB(story_dynamics.story_id.unique())
max_pos = story_dynamics.position.max()

for key,grp in story_dynamics.groupby('story_id'):
    fig, ax = plt.subplots()
    grp.plot(ax=ax, kind='scatter', x='request_time', y='position', color=st_id2RGB[key], label=key)
    fig.legend()
    ax.set_ylim([0, max_pos+1])
    ax.set_yticks([i for i in range(max_pos+1)])

In [ ]:
cur.close()
conn.close()